{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-unused-vars": 2,
    "arrow-body-style": 0,
    "import/extensions": 0,
    "import/no-default-export": 2,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "lines-between-class-members": "off",
    "no-confusing-arrow": 0,
    "no-unused-vars": "off",
    "no-useless-constructor": "off",
    "no-use-before-define": "off",
    "no-empty-function": ["error", { "allow": ["constructors"] }]
  },
  "ignorePatterns": [
    "./src/**/*.js",
    "./src/**/*.js.map"
  ]
}
